html{
  background-color: red;
}
.App {
height: 100vh;
display: flex;
justify-content: center;
text-align: center;
}

button {
background-color: white;
border: 1px solid grey;
border-radius: 3rem;
padding: 0.2rem 1rem;
}

button:hover {
  background-color: grey;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

p{
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.Total {
  border: 1px solid grey;
  margin: 0 40%;
  padding: 1rem 0;
  border-radius: 60%;
  background-color: grey;
}

.logout {
  margin: 5% 0%;
}

h1 {
  color: white;
}

.descrip {
  display: flex;
  justify-content: space-evenly;
}

.habits {
  display: flex;
  justify-content: space-evenly;
}